/* ProductListPage.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

body h1 {
    margin-bottom: 48px;
}

.table-container {
    width: 85%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 40px);
    padding: 15px;
    margin: 20px 20px 48px 20px; /* Ajuste a margem superior para ficar abaixo do header */
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #343a40;
    color: #ffffff;
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

td button {
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.btn-edit {
    background-color: #ffc107;
    color: #ffffff;
}

.btn-edit:hover {
    background-color: #e0a800;
}

.btn-delete {
    background-color: #dc3545;
    color: #ffffff;
}

.btn-delete:hover {
    background-color: #c82333;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #007bff;
    color: #ffffff;
    margin: 0 10px;
}

.pagination button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-top: 60px;
    font-weight: bold;
    text-transform: uppercase;
}
